:root {
    --section-overlay: rgba(0, 0, 0, 0.1);
    --bg-overlay: rgba(0, 0, 0, 0.9);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial Rounded MT Bold";
}

.App {
    min-height: 100vh;
    color: white;
    text-align: center;
    position: relative;
}

.overlay {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 4rem;
}

.container {
    max-width: 800px;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

.section {
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 1.5rem;
    margin-bottom: 2rem;
}

.section-input {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
}

input {
    flex: 1;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: 0.5px solid aliceblue;
    background: rgba(255, 255, 255, 0.9);
    font-size: 20px;
    font-weight: bolder;
}
.section-input>input:focus {
    outline: none;
}

button {
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
    border: none;
    background: #4a90e2;
    color: white;
    cursor: pointer;
    font-weight: bolder;
}
.section-input>button:hover {
    border: none;

}
.section-temperature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    align-items: center;
}


.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-bottom: 1rem;

}
.icon>h3 {
    text-transform: capitalize;
    font-size: 25px;
    font-weight: bolder;
}
.icon>h4 {
    font-size: 25px;
    text-transform: capitalize;
}

.temperature>h2 {
    text-align: right;
    font-size: 3rem;
    margin: 1rem 0;
}

.section-miniWidgets {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2.7rem;
}

.cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

.description-cell-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
    gap: 2.7rem;
    text-transform: capitalize;
    width: 100%;
}

.cell h3 {
    font-size: 1.2rem;
    font-weight: bold;
}
